body {
font-family: Arial, sans-serif;
margin: 0;
}


header {
background: #0b5ed7;
color: white;
padding: 20px;
text-align: center;
}


nav ul {
list-style: none;
background: #003366;
padding: 10px;
text-align: center;
}


nav ul li {
display: inline;
margin: 0 15px;
}


nav ul li a {
color: white;
text-decoration: none;
}


section {
padding: 20px;
}


article {
background: #f1f1f1;
padding: 15px;
}